.app {
  color: white;
  background-color: #000000;
}

.header {
  text-align: left;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.footer{
  margin-top: 5vh;
  padding: 20px;
  background-color: rgba(255,255,255,0.1);
  font-size: 12px;
  text-align: center;
}

.logo {
  padding: 0 10px;
}
.menu {
  flex-grow: 1;
  padding: 0 10px;
}

.body {
  text-align: center;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px);
}

.container{
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: rgba(255,255,255,0.1)
}

.block{
  width: 400px;
}

select {
  margin: 5px;
  padding: 5px;
  width: 300px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #333;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #333;
}

select:focus, button:focus{
  outline:0;
}

p{
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.fluff {
  font-style: italic;
}

.title {
  font-weight: bold;
}

.white {
  color: #ffffff;
}

.blue {
  color: rgb(110, 149, 255);
}

.red {
  color: rgb(255, 66, 66);
}

.green {
  color: #66FF66;
}

.yellow {
  color: rgb(255, 218, 96);
}

.pilot-skill {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 218, 96);
}